// user.show
#user-profile-header {
  position: relative;
  top: -15px;
  .inverted.segment {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
  }

  #user-image {
    background-color: blue;
    display: block;
    width: 10%;
  }

  $white: #fff;
  #user-name {
    font-size: 2.3em;
    font-weight: 100;
    color: $white;
    .sub.header{
      color: rgba($white, .5);
    }
  }

  a {
    color: inherit;
    &:hover {
      color: #20D0D3;
    }
  }
  #user-edit-button{
    position: absolute;
    bottom: -60px;
    left: 20%;
  }
}

#user-profile-body{
  margin-top: 25px;
}