= render partial: 'user_account_fields'

%br
- if current_user == @user
  = render partial: 'available_events', locals: {events: @events}

#user-profile-body
  .ui.one.column.page.grid
    .column
      = render partial: 'messages/all'