#user-profile-header
  .ui.secondary.inverted.segment.no-border-radius
    / AVATAR
    .ui.two.column.grid
      .two.wide.column
        .ui.small.dimmable.rounded.image
          .ui.dimmer.transition.hidden
            .content
              .center
                .ui.inverted.basic.icon.button
                  Alterar
                  %i.photo.icon
          = image_tag("example/avatars/man.jpg")
      .fourteen.wide.column
        .ui.grid
          / NOME DO USUÁRIO
          .sixteen.wide.column
            %h1#user-name Marco Túlio de Ávila Santos
          / INFORMAÇÕES
          .four.wide.column
            %p
              %i.ui.mail.icon
              = mail_to "marcotulio.avila@gmail.com"
            %p
              %i.ui.university.icon
              Estaca Brasília - Ala Guará II
          .four.wide.column
            %p
              %i.ui.call.icon
              (61) 8125-7757 / (61) 3546-7757
            %p
              %i.ui.map.marker.icon
              QE 40 Rua 10 Lote 01 apt 201

#user-profile-body
  .ui.three.column.grid
