// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event-page{
  position: relative;
  #page-bg{
    position: relative;
    background: url('/assets/event-bg.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  #page-content{
    position: absolute;
    top: 100px;

    $colorname: #fff;
    #event-name{
      color: $colorname;
        
      p.transparent{
        color: transparentize($colorname, 0.3);
      }
    }

    #participants{
      max-height: 400px;
      overflow-y: scroll;
    }
  }
}