// topmenu.scss
@import "mixins/functions";

#topmenu{
  @include border-radius;

  .item{
    padding: 20px;
  }

  #profile-avatar{
    padding-left: 40px;
    .image{
      position: absolute;
      left: 15px;
      top: 12px;
      width: 2em;
      height: auto;
      img{
        width: inherit;
        height: auto;
      }
    }
  }
}