.field
  = form.label :name
  = form.text_field :name, placeholder: 'Nome da Ala'
.field
  = form.label :stake
  = form.collection_select :stake_id, Stake.all, :id, :name, {},
    class: 'ui search selection dropdown'
