.ui.page.centered.grid
  .ten.wide.column
    %h2.ui.basic.center.aligned.segment
      Nova Região
      %i.ui.write.icon
    = render partial: 'messages/error_list',
      locals: { errors: @region.errors.full_messages }

    = render partial: 'components/form',
      locals: { record: @region }
