.ui.one.column.page.grid
  .column
    %h1 Lista de Pessoas
    %table.ui.table
      %tbody
        - @people.each do |person|
          %tr
            %td{ style: 'width: 25px' }
              .ui.right.floated.avatar.image
                = image_tag 'avatar.jpg'
            %td= person.full_name
