.ui.one.column.page.grid
  .column
    %h1 Lista de Pessoas
    %table.ui.table
      %tbody
        - @accounts.each do |account|
          %tr
            %td{ style: 'width: 25px' }
              .ui.right.floated.avatar.image
                = image_tag 'avatar.jpg'
            %td= account.full_name
